
<div class="readableBox menuOptions horizontalCenter">
  <div class="gameTitle">
    <h1>BattleShip</h1>
    <h3>Select an Option</h3>
  </div>

  <button class="btn btn-default col-sm-3" routerLink="/game">Start Game</button>
  <button class="btn btn-default col-sm-3" (click)="toggleRules()">Rules</button>
</div>

<!-- Modal -->
<div id="rulesModal" [ngClass]="{'modal': true, 'closed': modalClosed}">
  <h1 class="modalHeader">Rules</h1>
  <button type="button" class="btn btn-default modalClose" (click)="toggleRules()">Close</button>
  <!-- Modal content-->
  <div class="modalContent">
    <p>
      1. Each player will take turns firing on their opponents ships.<br>
      2. If the player misses their turn ends. If they it the turn continues.<br>
      3. Once a ship is hit in every square it is sunk.<br>
      4. If all of a player's ships are sunk they lose and their opponent wins!<br>
    </p>
  </div>

</div>

<!--Modal Overlay-->
<div [ngClass]="{'modalOverlay': true, 'closed': modalClosed}"></div>


