.gameTitle{
  text-align: center;
}

.menuOptions {
  background-color: rgba(70,79,94,.8);
  color: black; /* So text does not inherit opacity */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  padding: 20px;
  width: 30%;
  min-width: 200px;
  margin-top: 5em;
}

.btn {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  background-color: white;
  min-width: 100px;
}


.modal {
  /* center */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* dimensions */
  width:  600px;
  max-width: 90%;
  height:  500px;
  max-height: 90%;

  background-color: white;
  z-index: 49;
  border-radius: 10px;
}

.modalContent {
  overflow: auto;

  /* content dimensions */
  position: absolute;
  top: 3em;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.modalClose{
  position: fixed;
  right: 20px;
  top: 10px;
}

.modalHeader {
  position: fixed;
  top: 10px;
  left: 20px;
  margin: .67em 0;
  line-height: 0;
  z-index: 50;
}

.modalOverlay{
  background-color: rgba(70,79,94,.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 48;
}

.closed {
  display: none;
}

