<div class="backdrop"></div>
<button class="col-sm-1 btn btn-default reset" (click)="resetGame()">Reset</button>

<div class="container col-md-offset-3 col-md-8">
  <div id="hitMessageBox" class="gameMessages"></div>
  <div *ngFor="let player of players; let i = index" class="board">
    <div class="readableBox">
      <h2>Player {{i +1}}'s Board</h2>
    </div>
    <div *ngFor="let row of player.board; let y = index" class="row">
      <div *ngFor="let space of row; let x = index">
        <app-board-space [space]="space" (shipSunk)="sunk($event)" (hitEvent)="fire($event)"></app-board-space>
      </div>
    </div>
  </div>
</div>



<div [ngClass]="{'overlay': true, 'closed': !showTurnOverlay}">
  <div id="missMessageBox" class="gameMessages"></div>
  <button id="turnButton" class="col-sm-2 btn btn-default horizontalCenter" (click)="toggleOverlay()">Next Turn</button>
</div>

<div [ngClass]="{'overlay': true, 'closed': !gameOver}">
  <div id="gameOverMessageBox" class="gameMessages">
    Game Over!<br>
    The Winner is {{winner}}
    <div *ngFor="let player of players; let i = index">
      Player {{i + 1}} Ships Sunk:
      <div *ngFor="let ship of player.sunkShips">
        {{ship.displayName}}
      </div>
    </div>
    Total Shots Fired: {{shotsFired}}
  </div>
  <button class="col-sm-2 btn btn-default horizontalCenter" (click)="resetGame()">Play Again?</button>
</div>

