.overlay {
  z-index: 5;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #434549;

  display: block;
}

.closed {
  display: none;
}


.readableBox {
  background-color: rgba(70,79,94,.8);
  color: black; /* So text does not inherit opacity */
  border-radius: 10px;
  padding-top: 0;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 0;
  width: 30%;
}

.row {
  padding-left: 10px;
}

.reset{
  margin: 10px;
  background-color: orangered;
}



.gameMessages{
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.board{
  padding: 10px;
}
